@model List<Movie>

@foreach (Movie m in Model)
{
    <p>Title: @m.Title</p>
    <p>Genre: @m.Genre</p>
    <p>Release Year: @m.Years</p>
    <p>Runtime: @m.Runtime</p>
}

@if (@Model.Count() == 0)
{
    <p>We do not have that!</p>
}